<div>
  <h2 style='color: #666;' align='center'> Relatório do pedido <h2>
</div>
<div style='margint-bottom: 10px;'>
  <p style='color: #111 font-size: 14pt; margin: 0'> {{produto}} </p>
  <p style='color: #666 ;font-size: 12pt; margin: 0;'> cor: {{cor}} </p>
  <p style='color: #666 ;font-size: 12pt; margin: 0;'> tamanho: {{tamanho}} </p>
  <p style='color: #666 ;font-size: 12pt; margin: 0;'> quantidade: x{{quantidade}} </p>
  <p style='color: #666 ;font-size: 12pt; margin: 0;'> valor: {{valor}} </p>
</div>
<hr/>
<div>
  <p style='color: #111 ;font-size: 12pt; margin: 0;'> Total: {{total}} </p>
  <p style='color: #666 ;font-size: 12pt; margin: 0;'> {{form_of_payment}} </p>
</div>
<hr/>
<div>
  <p style='color: #111 ;font-size: 12pt; margin: 0;'> {{client}} </p>
  <p style='color: #666 ;font-size: 12pt; margin: 0;'> {{cpf}} </p>
  <p style='color: #666 ;font-size: 12pt; margin: 0;'> {{genre}} </p>
  <p style='color: #666 ;font-size: 12pt; margin: 0;'> {{email}} </p>
</div>